<div class="management-box">
  <div class="left">
    <nz-tree [nzData]="nodes" nzShowLine="true" (nzClick)="nzEvent($event)">
    </nz-tree>
  </div>
  <div class="right">
    <div nz-row nzGutter="16" class="query-box">
      <!-- <div nz-col class="gutter-row" nzSpan="6">
        <gm-select dicType="登记类型" gmPlaceHolder="登记类型"></gm-select>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <input nz-input placeholder="受理编号">
      </div> -->
      <div nz-col class="gutter-row" nzSpan="6">
        <input nz-input placeholder="用户名">
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
          <div nz-col nzSpan="8"><button nz-button nzType="primary">查询</button></div>
          <div nz-col nzSpan="8"><button nz-button nzType="primary">重置</button></div>
          <!-- <div nz-col nzSpan="8"><a (click)="moreQueryVisible=true">展开<i class="anticon anticon-left"></i></a></div> -->
        </div>
      </div>
      <!-- <nz-drawer [nzClosable]="false" [nzVisible]="moreQueryVisible" [nzWidth]="450" nzTitle="更多查询条件" (nzOnClose)="moreQueryVisible=false">
        <div nz-row nzGutter="8" nzAlign="middle">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>坐落</nz-form-label>
              <nz-form-control>
                <input nz-input>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>权利人</nz-form-label>
              <nz-form-control>
                <input nz-input>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8" nzAlign="middle">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>证件号</nz-form-label>
              <nz-form-control>
                <input nz-input>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>归档单位</nz-form-label>
              <nz-form-control>
                <input nz-input>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8" nzAlign="middle">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>不动产单元号</nz-form-label>
              <nz-form-control>
                <input nz-input>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-drawer> -->
    </div>
    <div class="table-box" #tableBox>
      <nz-table #nzTable nzSize="default" [nzFrontPagination]="false" [nzData]="dataSet" [nzScroll]="tableScroll" [nzShowPagination]="false">
        <thead>
          <tr>
            <!-- <th nzWidth="65px" nzLeft="0px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th> -->
            <th nzWidth="15%">雇员编号</th>
            <th nzWidth="15%">用户名称</th>
            <th nzWidth="15%">所属部门</th>
            <th nzWidth="25%">职务</th>
            <th nzWidth="15%">入职日期</th>
            <th nzWidth="15%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
          <!--   <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="nzCheckedChange(data)"></td> -->
            <td>{{data.employeeNo}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.depName}}</td>
            <td>{{data.duty}}</td>
            <td>{{data.entryDate}}</td>
            <td class="table-option">
              <a (click)="checkItemMore(data)">
                <i nz-icon type="eye"></i>
                <nz-modal [(nzVisible)]="isVisibleMore" nzTitle="员工详情" [nzFooter]='null' (nzOnCancel)="isVisibleMore=false">
                  <p>雇员编号:{{detail?.employeeNo}}</p>
                  <p>签到编号:{{detail?.signInNo}}</p>
                  <p>用户名:{{detail?.userName}}</p>
                  <p>地区:{{detail?.region}}</p>
                  <p>所属部门:{{detail?.depName}}</p>
                  <p>职务:{{detail?.duty}}</p>
                  <p>角色:{{detail?.role}}</p>
                  <p>入职日期:{{detail?.entryDate}}</p>
                  <p>社会工龄:{{detail?.socialWorkingAge}}</p>
                  <p>毕业日期:{{detail?.graduationDate}}</p>
                  <p>离职日期:{{detail?.leaveDate}}</p>
                </nz-modal>
              </a>
              <a (click)="checkItemUpdate(data)">
                <i nz-icon type="edit"></i>修改
                <nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="修改信息" [nzFooter]='null' (nzOnCancel)="isVisibleUpdate=false">
                  <p>姓名:{{detail?.name}}</p>
                  <p>年龄:{{detail?.age}}</p>
                  <p>编号:{{detail?.address}}</p>
                </nz-modal>
              </a>
              <a (click)="checkItemLive(data)">
                <i nz-icon type="close-circle"></i>离职
                <nz-modal [(nzVisible)]="isVisibleLive" nzTitle="数据详情" [nzFooter]='null' (nzOnCancel)="isVisibleLive=false">
                  <p>姓名:{{detail?.name}}</p>
                  <p>年龄:{{detail?.age}}</p>
                  <p>编号:{{detail?.address}}</p>
                </nz-modal>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="table-pagination">
        <nz-pagination [nzPageIndex]="currentPageNum" [nzTotal]="totalPageNum" nzShowSizeChanger [nzPageSize]="pageSizeNum"  (nzPageIndexChange)="changePageNum($event)" (nzPageSizeChange)="changeSizeNum($event)"></nz-pagination>
      </div>
    </div>
  </div>
  <!-- 弹框 -->
</div>
